@model IEnumerable<ERPEntities.Models.OrderDetailVM>
@{
    Layout = "~/Views/Shared/_SCLayout.cshtml";
    ViewBag.Title = "Pending Orders";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/moment.min.js"></script>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">receipt</i>
                        </div>
                        <h4 class="card-title">Pending Orders</h4>
                    </div>
                    <div class="content">
                        <hr />
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <label><b>Order ID  :</b>&nbsp;&nbsp;&nbsp;<span id="OrderID">@ViewData["OrderId"].ToString()</span></label>
                            </div>
                            <div class="col-md-4">
                                <label><b>OrderDate :</b>&nbsp;&nbsp;&nbsp;<span>@ViewData["OrderDate"].ToString()</span></label>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <label><b>Order Status :</b>&nbsp;&nbsp;&nbsp;<span>@ViewData["OrderStatus"].ToString()</span></label>
                            </div>
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
        @foreach (var item in Model)
        {
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 card">
                <div class="card">
                    <div class="card-header card-header-rose">
                        <h4 style="display:inline">Order Items</h4>
                    </div>
                    <div class="content">

                        <div class="row">
                            <div class="content table-responsive table-full-width ">
                                <table class="table table-striped">
                                    <thead class=" text-rose">
                                        <tr>
                                            <th>Product Name</th>
                                            <th>Vendor</th>
                                            <th>Category</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>ExpDate</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.ItemName)</td>
                                                <td>@Html.DisplayFor(modelItem => item.VendorName)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Category)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Quanitity)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                                                <td>@Html.DisplayFor(modelItem => item.TotalAmount)</td>
                                            </tr>
                                       
                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <hr />
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-3">
                                <div class="text-center">
                                    <a href="#" class="btn btn-rose btn-fill btn-wd" id="Approve">Add to Stock</a>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-2"></div>
            <input style="visibility:hidden;" type="text" id="id" value=@ViewData["OrderId"].ToString() />

        </div>
        }
    </div>
</div>



<script src="../../assets/js/moment.min.js"></script>
<script src="../../assets/js/fullcalendar.min.js"></script>
<script src="../../assets/js/sweetalert2.js"></script>
<script src="../../assets/js/bootstrap-datetimepicker.js"></script>

<script>
    // datepicker
    $(document).ready(function () {
        $('#Approve').on("click", function () {
            var id = parseInt($("#id").val());
            alert(id);

            $.get("/PendingOrder/ApproveOrder", { OrderID: id }, function (data) {
                if (data != null) {
                    alert("data is true");
                    $.each(data, function (i, row) {

                        alert(status);
                    })
                }
                else {
                    alert("failed");
                }
            });
        })
    });

</script>  