@model ERPEntities.Models.VendorModel

@{
ViewBag.Title = "Add Vendor";
    ViewBag.isActive = "active";
}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 col-md-8">
                <div class="card">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">@ViewBag.Title</h4>
                    </div>
                    <div class="content">
                        @using (Html.BeginForm("", "", FormMethod.Post, new {id = "VendorForm", method = "post", action = "/ManageVendor/AddVendor?id=" + @Html.DisplayFor(vendor => vendor.VendorID) }))
                        { @Html.ValidationSummary(true)
                            @Html.AntiForgeryToken()

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>@Html.LabelFor(model => model.VendorName)</label>
                                        @Html.TextBoxFor(model => model.VendorName, new { @class = "form-control border-input", name = "VendorName" })
                                        <div>@Html.ValidationMessageFor(model => model.VendorName)</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>@Html.LabelFor(model => model.VendorAddress)</label>
                                        @Html.TextBoxFor(model => model.VendorAddress, new { @class = "form-control border-input", name = "VendorAddress" })
                                        <div>@Html.ValidationMessageFor(model => model.VendorAddress)</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>@Html.LabelFor(model => model.VendorContact)</label>
                                        @Html.TextBoxFor(model => model.VendorContact, new { @class = "form-control border-input", name = "VendorContact" })
                                        <div>@Html.ValidationMessageFor(model => model.VendorContact)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>@Html.LabelFor(model => model.ZIPCode)</label>
                                        @Html.TextBoxFor(model => model.ZIPCode, new { @class = "form-control border-input", name = "ZIPCode" })
                                        <div>@Html.ValidationMessageFor(model => model.ZIPCode)</div>
                                    </div>
                                </div>
                            </div>
                        <div class="text-center">
                                <input type="submit" class="btn btn-info btn-fill btn-wd" value="Submit" />
                            </div>
                            <div class="clearfix"></div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script>
    $(document).ready(function () {
        $.validator.addMethod("lettersonly", function (value, element) {
            return this.optional(element) || /^[a-z]+$/i.test(value);
        }, "Letters only please");
        $.validator.addMethod("phoneNL", function (value, element) {
            return this.optional(element) || /^((\+|00(\s|\s?\-\s?)?)31(\s|\s?\-\s?)?(\(0\)[\-\s]?)?|0)[1-9]((\s|\s?\-\s?)?[0-9]){8}$/.test(value);
        }, "Please specify a valid phone number.");
        $("#VendorForm").validate({
            rules: {
                VendorName: {
                   
                    text: true,
                },
                VendorContact: {
                    
                    number: true,   
                },
                VendorAddress: {
                      
                },
                ZIPCode: {
                    
                    number: true,
                },


            },
        });
    });
</script>